body{
    background-image: url(./assets/Pixel\ people\ pattern.jpg);
    background-repeat: repeat;
    margin:0 auto;
    display:flex;
    justify-content: center;
    margin-top: 25px;
}

/* this seems to be centering the buttons at least */
 .centerMe {
    position: fixed;
    text-align: center;
    display:inline-block;  
}

#gameContainer{
    background-color:pink opacity 0.5;
    height:700px;
    width:450px;
    border-radius: 20px;
    box-shadow: 0px 3px 20px 0px #6c5e75;
    background:linear-gradient(to bottom, #b4f4ff 5%, #ffa2f0 100%);
	background-color:#dfbdfa;

}

#screen{
    border:5px solid white;
    justify-content: center;
    background-color:rgb(179, 179, 179);
    height:420px;
    width:350px;
    border-radius: 20px;
    position:relative;
    text-align:center;
    top: 40px;
    margin-left: 52px;

}

#scenarioBox{
    border:3px solid rgb(174, 0, 255);
    border-radius: 20px;
    opacity: 0.8;
    height:200px;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(169, 212, 218); /* adding a bg color so I can see what space the text will take, might remove later */

}
 #text{
     color:rgb(255, 42, 191);
     z-index: 90;
     text-align: start;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
 }

 #answer {
     color:rgb(77, 77, 77);
     z-index: 90;
     text-align: start;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
 }


/*remember to come back to these buttons because the jumping feature is annoying */
.btn {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
	box-shadow:inset 3px 4px 6px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #73419c 100%);
	background-color:#dfbdfa;
	border-radius:42px;
	border:1px solid #c99dc9;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:11px 13px;
	text-decoration:none;
    text-shadow:0px 1px 1px #6611b0;
    margin-top:100px;
}

.btn:hover {
	background:linear-gradient(to bottom, #73419c 5%, #dfbdfa 100%);
	background-color:#73419c;
}
.btn {
	position:relative;
	/* padding-top:20px !important; */   /*idk if I really want this jumpy feauture tho */
}
